.todoItem-todo.done{
    text-decoration: line-through;
    
}

.todoItem-todo{
    background-color:bisque;
    padding-left: 5px; 
	padding-right: 5px; 
	padding-top: 5px; 
    margin-top: 12px;
    
}

.delete
{
    position: absolute;
    right: 800px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0px 10px;
    text-align: center;
    font-size: 16px;

}
.check
{
    position: absolute;
    left: 800px;
    bottom: 500;

}
.edit{
     display:none; 
}
.editShow{
    position: absolute;
    right: 750px;
    background-color: green;
    color: white;
    border: none;
    padding: 0px 10px;
    text-align: center;
    font-size: 16px;
}


textarea {
    width:450px;
    padding: 3px;
    
    }



 